name: Check formatting

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  test:
    name: Go ${{ matrix.go-version }} - ${{ matrix.os }}/${{ matrix.test-arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-24.04, windows-2025, macOS-latest]
        test-arch: [amd64]
        race: ["-race"]

        include:
          - go-version: 1.25.x
            test-arch: "386"
            os: ubuntu-24.04
            race: ""
          - go-version: 1.25.x
            test-arch: "386"
            os: windows-2025
            race: ""

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Install gofumpt
        run: go install mvdan.cc/gofumpt@v0.9.1
      - name: Run gofumpt
        run: gofumpt -l .
