name: Exercise tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  test:
    name: Go ${{ matrix.go-version }} - ${{ matrix.os }}/${{ matrix.test-arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.18.x]
        os: [ubuntu-latest, windows-latest, macOS-latest]
        test-arch: [amd64]
        race: ["-race"]

        include:
          - go-version: 1.18.x
            test-arch: "386"
            os: ubuntu-latest
            race: ""
          - go-version: 1.18.x
            test-arch: "386"
            os: windows-latest
            race: ""

    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - uses: actions/setup-go@84cbf8094393cdc5fe1fe1671ff2647332956b1a
        with:
          go-version: ${{ matrix.go-version }}

      - name: Lint and Test exercises
        shell: bash
        env:
          GOARCH: ${{ matrix.test-arch }}
        run: |
          ./bin/fetch-golangci-lint
          ./bin/run-tests
